<div class="ui segment" id="Pick2-Odds-Advice-Container">
  <div class="ui segment" id="Pick2-Odds">
    <h2>Odds</h2>
    <h3>
      <b>Pick 2</b>
    </h3>
    <p> You have a 1/100 chance of winning 25$ with a strait matching both numbers, and a 1/25 odds
      of
      hitting
      a one-off
      number on either and/or both numbers for a $3.00 payout.
    </p>
    <button class='btn2'> Tell me more </button>
  </div>



  <div class="ui segment" id="Pick2-Advice">
    <h2>Genie Advice</h2>
    <h3>
      <b>Play 1-Off</b>
    </h3>
    <p> You can miss by one and still win a cash prize. That's 8 more chances to win.
    </p>

  </div>