<div class="ui segment" id="pick-3-rules-container">


  <h3>Rules </h3>
  <p>1. Select one number (from 0 through 9) from each column for a total of three digits. For a
    Front Pair play,
    select numbers
    from the first two columns only; and, for a Back Pair play, select numbers from the last two
    columns only.

  </p>
  <p>2. Select the play type: Straight, Box, Straight/Box, 1-OFF, Combo, Front Pair, or Back Pair.
  </p>
  <p> 3. Select the amount you want to play: 50 cents or $1 (all Straight/Box and 1-OFF plays cost
    $1; Combo
    plays
    cost $1.50
    to $6.00).
  </p>
  <p>
    <b>Players who match all three of the winning numbers drawn in the official PICK 3™ drawing for
      the date
      played
      can
      win up to $500, depending on the play type purchased and the amount played. Front Pair or
      Back Pair
      players
      who
      match two numbers in exact order can win up to $50.
    </b>
  </p>

  <h3>How to win</h3>
  <p>3-WAY: Select a 3-digit number with two like digits and get 3 ways to win (Example: Play numbers
    '112'
    winning
    combination
    '112','121','211'.
  </p>
  <p>6-WAY: Select a 3-digit number with all different digits and get 6 ways to win. (Example: play
    numbers
    '123';
    winning
    combinations, '123','132','213','231','312','321'
  </p>

  <p> Strait: Match in exact order (Example: Play numbers '123'; winning combination '123'</p>
</div>